MONGODB_URI=mongodb://khanehyar:change-this-db-password@localhost:27017/?authSource=admin
MONGODB_DB=khanehyar
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-to-a-long-password
SESSION_SECRET=change-this-to-at-least-32-random-characters
MONGO_ROOT_USERNAME=khanehyar
MONGO_ROOT_PASSWORD=change-this-db-password
